@inherits LayoutComponentBase
@inject ApplicationState ApplicationState
@inject NavigationManager NavigationManager


<div class="page">
    @if (ApplicationState.IsLoggedIn)
    {
        <div class="sidebar">
            <Navbar />
        </div>
    }
    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
