<div class="sidebar">
    <div class="logo">
        <h1>TRACKIFY</h1>
        <p>Track Your Finances</p>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/dashboard">
                    <i class="icon">&#9633;</i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="/add-transactions">
                    <i class="icon">+</i> 
                    Transactions
                </a>
            </li>

            <li>
                <a href="/view-transactions">
                    <i class="icon">&#128203;</i>
                    View Transactions
                </a>
            </li>
            <li>
                <a href="/view-debts">
                    <i class="icon">&#128179;</i>
                    Debts
                </a>
            </li>

            <li>
                <a href="/add-debts">
                    <i class="icon">&#128179;</i> 
                    Add Debts
                </a>
            </li>
        </ul>
    </nav>
</div>
<style>
    .sidebar {
        width: 250px;
        background-color: #a5b6b9;
        height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    }

    .logo {
        margin-bottom: 40px;
        text-align: center;
        width: 100%;
    }

        .logo h1 {
            font-size: 24px;
            font-weight: bold;
            color: #000;
            margin: 0;
        }

        .logo p {
            font-size: 14px;
            color: #000;
            margin: 0;
        }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

        nav ul li {
            margin: 20px 0;
        }

            nav ul li a {
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;
                color: #000;
                display: flex;
                align-items: center;
            }

                nav ul li a .icon {
                    font-size: 20px;
                    margin-right: 10px;
                    color: #000;
                }

                nav ul li a:hover {
                    color: #007BFF;
                    cursor: pointer;
                }

</style>